.btn-group {
  display: block;
  margin: 50px auto;
  text-align: center;
}
body {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
.card {
  background-color: rgba(213, 202, 223, 0.87);
  margin: 0 auto;
  border-color: rgba(208, 172, 241, 0.87);
}
.input-group {
  width: 60%;
  margin: 0 auto;
}
.list-group {
  font-size: larger;
}

#city-input {
  border-radius: 5px;
  width: 350px;
  font-size: medium;
  padding: 3px;
}
#current {
  padding: 5px;
  background-color: rgb(218, 209, 240);
  border-radius: 5px;
  margin: 10px;
  border-color: rgb(146, 204, 206);
}
h2 {
  text-transform: capitalize;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
